/* HELPER CSS
----------------------------- */
.fill{
  text-align: center;
  background: #AFAFAF;
  color: #FFF;
  padding: 15px 0px 15px 0px;
}

/* GRID CSS
----------------------------- */
*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='col-']{
  float: left;
  padding: 10px;
}
[class*='col-']:last-of-type{
  padding-right: 10px;
  float: right;
}
.container{
  max-width: 1024px;
  margin: 0 auto;
}
.container-full{
  width: 100%;
  margin: 0 auto;
}
.row{
  width: 100%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.col-1{
  width: 100%;
}
.col-2{
  width: 50%;
}
.col-3{
  width: 33.33%;
}
.col-4{
  width: 25%;
}
.col-5{
  width: 20%;
}
.col-6{
  width: 16.6666666667%;
}
.col-7{
  width: 14.2857142857%;
}
.col-8{
  width: 12.5%;
}
.col-9{
  width: 11.1111111111%;
}
.col-10{
  width: 10%;
}
.col-11{
  width: 9.09090909091%;
}
.col-12{
  width: 8.33%;
}

/* SMALL SCREEN
----------------------------- */
@media (max-width: 480px){
  .col-1, .col-2, .col-3,
  .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9,
  .col-10, .col-11, .col-12{
    width: 100%;
  }
  .row .col-4:nth-child(2){
    float: right;
  }
  .row .col-4:nth-child(3){
    clear: both;
    float: left;
  }
  .row .col-4:nth-child(4){
    float: right;
  }
}

/* MEDIUM SCREEN
----------------------------- */
@media (min-width: 481px) and (max-width: 800px){
  .col-3{
    width: 33.33%;
  }
  .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9,
  .col-10, .col-11{
    width: 100%;
  }
  .col-8, .col-12{
    width: 50%;
  }
}